In [1]:
## Question1 Create one variable containing string, list, float, tuple

In [2]:
a = ["mayur", 45, 45.65, True]

# What are the data types of below variables:
var 1 - str
var2 - str
var 3 - list
var 4 - float

In [14]:
a = ''

In [15]:
type(a)

str

In [16]:
a = '[DL, ML, Python]'

In [17]:
type(a)

str

In [18]:
a = ['DS', 'ML', 'Python']

In [19]:
type(a)

list

In [20]:
a = 1.

In [21]:
type(a)

float

# Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [2]:
100/3

33.333333333333336

In [3]:
100%3

1

In [4]:
100//3

33

In [5]:
100**3

1000000

# Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
a = ["mayur", True, 45, 4+5j,45.45,[1,2,3], 45.,"sir", 564,False]

In [9]:
for i in a :
    print(i,type(i))

mayur <class 'str'>
True <class 'bool'>
45 <class 'int'>
(4+5j) <class 'complex'>
45.45 <class 'float'>
[1, 2, 3] <class 'list'>
45.0 <class 'float'>
sir <class 'str'>
564 <class 'int'>
False <class 'bool'>

Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [4]:
def count_divisible(a, b):
    count = 0

    while a % b == 0:
        a = a / b
        count += 1

    return count

# Example usage:
A = 100
B = 5
result = count_divisible(A, B)
print(f"{A} is divisible by {B} {result} times.")

100 is divisible by 5 2 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [5]:
int_list = [i for i in range(1,51)]

In [7]:
for num in int_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3.")
    else:
        print(f"{num} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
18 is divisible by 3.
19 is not divisible by 3.
20 is not divisible by 3.
21 is divisible by 3.
22 is not divisible by 3.
23 is not divisible by 3.
24 is divisible by 3.
25 is not divisible by 3.
26 is not divisible by 3.
27 is divisible by 3.
28 is not divisible by 3.
29 is not divisible by 3.
30 is divisible by 3.
31 is not divisible by 3.
32 is not divisible by 3.
33 is divisible by 3.
34 is not divisible by 3.
35 is not divisible by 3.
36 is divisible by 3.
37 is not divisible by 3.
38 is not divisible by 3.
39 is divisible by 3.
40 is not divisible by 3.
41 is not divisible by 3.
42 is divisible by 3.
43 is not divisible by 3.
44 is not divisible by 3.
45 is divisible by 3.
46 is not divisible by 3.
47 is not divisible by 3.
48 is divisible by 3.
49 is not divisible by 3.
50 is not divisible by 3.

Question 7 . What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable data types are those whose values can be modified or changed after creation
and immutable data types are those whose values cannot be modified or changed after creation.

Mutables example

In [8]:
new_list = [1,2,3,4,5]

In [10]:
new_list[2] = 100

In [11]:
new_list

[1, 2, 100, 4, 5]

Immutables Example

In [12]:
my_string = "Mayur"

In [14]:
my_string[0] = "K"

TypeError: 'str' object does not support item assignment